<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/aop
                        https://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <bean id="student_ref_01" class="org.kayla.springbean.way1.Student">
        <property name="id" value="01"/>
        <property name="name" value="01_student_ref"/>
    </bean>

    <bean id="student_ref_02" class="org.kayla.springbean.way1.Student">
        <property name="id" value="02"/>
        <property name="name" value="02_student_ref"/>
    </bean>

    <!-- 通过 ref 自动装配 -->
    <!--<bean id="studentDao" class="org.kayla.springbean.way1.StudentDao"/>
    <bean id="sudentService" class="org.kayla.springbean.way1.StudentService">
        <property name="studentDao" ref="studentDao"/>
    </bean>-->

    <!-- 通过 byName 自动装配 -->
    <!--<bean id="studentDao" class="org.kayla.springbean.way1.StudentDao"/>
    <bean id="sudentService" class="org.kayla.springbean.way1.StudentService" autowire="byName" />-->

    <!--  通过 byType 自动装配 -->
    <!--<bean id="studentDao" class="org.kayla.springbean.way1.StudentDao"/>
    <bean id="sudentService" class="org.kayla.springbean.way1.StudentService" autowire="byType" />-->

    <!-- 通过 constructor构造函数 自动装配 -->
    <bean id="studentDao" class="org.kayla.springbean.way1.StudentDao"/>
    <bean id="sudentService" class="org.kayla.springbean.way1.StudentService" autowire="constructor" />



    <bean id="klass" class="org.kayla.springbean.way2.Klass">
        <property name="students">
            <list>
                <ref bean="student_ref_01"/>
                <ref bean="student_ref_02"/>
            </list>
        </property>
    </bean>
    
</beans>